body {
    margin: 0;
    
    padding: 0;
    
    text-align: center;
}

.banner { 
    background: url(http://getwallpapers.com/wallpaper/full/6/8/b/683905.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: calc(100vh - 80px);
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;

    

  }


header {
    width: 100%;
    height: 100px;
    background-color: gray;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 1px;

}
 
 
h2 {
    background-color: white;
    margin-right: 25px;
    margin-left: 25px;
    font-size: 40px;
    border-radius: 25px;
    opacity: 0.75;
    padding: 10px;
    
    

}
p {
    font-family: 'pt serif', sans-serif;
    font-weight: 700;
    font-size: 10px;
    /* position: relative;
    top: -15px; */
    padding: 10px;

}
.fa-playstation {
    color:black;
    font-size: 100px;
    margin: 10px;
    
}

.blue {
    color: blue;
    font-size: 100px;
    margin: 10px;
}

.button {
    color: blue;
    background-color: black;
    width: 100px;
    border-radius: 5px;
    font-family: 'pt serif', sans-serif;
    text-decoration: none;

}

.story {
    margin-right: 100px;
    margin-left: 100px;
    color: white;
    background-color: blue;
    font-size: 20px;
    border-radius: 25px;
    padding: 10px;
    opacity: 0.75;
}

footer {
    background-color: black;
    color: blue;
    /* width: 100%; */
    height: 80px;
    margin-top: -22px;
    padding: 25px;
    font-size: 15px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #1827ff, 0 0 30px #49FF18, 0 0 40px rgb(28, 24, 255), 0 0 55px rgb(24, 39, 255), 0 0 75px #2f18ff, 2px 2px 2px rgba(13,0,255,0); 


}

.clan-summary {
    margin-right: 100px;
    margin-left: 100px;
    color: white;
    background-color: blue;
    font-size: 20px;
    border-radius: 25px;
    /* padding: 15px; */
    opacity: 0.75;

}

.clan-moments {
    background-color: gray; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: calc(100vh - 80px);
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.button-2 {
    margin-right: 25px;
    margin-left: 25px; 
    color: white;
    background-color: blue;
    font-size: 25px;
    border-radius: 25px;
    opacity: 0.75;
    margin-bottom: 10px;
    padding: 10px;
}

h2 .story .clan-summary {
    margin:200px;
}

.clan-pics {
    height: 300px;
    width: 425px;

}

h3 {
    color: blue;
    background-color: gray;
    /* border-radius: 15px; */
    padding: 10px;
    margin: 0;
    font-size: 50px;
    opacity: 0.75;
    }
    /* img {
        margin-left: 25px;
        margin-right: 25px;
    } */



/* MEDIA QUERIES */
@media only screen and (max-width: 500px){

    header {
        width: 100vw;
        height: 100px;
        background-color: gray;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        padding: 1px;
    }

    .clan-pics {
        height: 300px;
        width: 100vw;
    }
}
@media only screen and (max-width: 768px){
    .fa-playstation{
        display: none;
    }

    header {
        width: 100%;
        height: 100px;
        background-color: gray;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        padding: 1px;
    }
    
    .button {
        color: blue;
    background-color: black;
    width: 150px;
    height: 65px;
    border-radius: 15px;
    font-family: 'pt serif', sans-serif;
    text-decoration: none;
    font-size: 25px;
    }

    .story {
        margin-right: 25px;
        margin-left: 25px;
        color: white;
        background-color: blue;
        font-size: 20px;
        border-radius: 25px;
        padding: 10px;
        opacity: 0.75;
    }

    .clan-summary {
        margin-right: 25px;
        margin-left: 25px;
        color: white;
        background-color: blue;
        font-size: 20px;
        border-radius: 25px;
        /* padding: 15px; */
        opacity: 0.75;
        
    }
    
    .clan-moments {
        background-color: gray; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: calc(100vh - 80px);
        padding-top: 100px;
        padding-bottom: 100px;
        margin: 0px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        
    }
    h3 {
        color: blue;
        background-color: white;
        border-radius: 15px;
        padding: 10px;
        margin: 25px;
        font-size: 30px;
    }

    .clan-pics {
        height: 300px;
        width: 100vw; 
    }   
}

@media only screen and (min-width: 1000px){
    .fa-playstation {
        color:black;
        font-size: 100px;
        margin: 60px;
        
    }
    .blue {
        color:blue;
        font-size: 100px;
        margin: 60px;
    }
}